<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">RobotCampus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/blog">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about_me">About Me</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown link
                </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
            </li>
        </ul>
        <ui class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-outline-primary" href="#" data-toggle="modal" data-target="#exampleModal">Log In</a>
            </li>
        </ui>
    </div>
</nav>

<!-- Modal -->
<!-- <div class="modal fade" id="logInModal" tabindex="-1" aria-labelledby="logInModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="Log In" id="logInModal">Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
        <!-- botton -->
        <!-- <div class="modal-body">
            <button type="button" class="btn btn-outline-primary">Log In with Google</button>
            <button type="button" class="btn btn-outline-secondary">Log In with Email</button>
            <button type="button" class="btn btn-outline-success">Sign Up with Email</button>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        <!-- </div>
    </div>
</div> -->

<!-- modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModal"><i class="fa-solid fa-right-to-bracket"></i>Log In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

        <!-- botton -->
        <div class="modal-body">
            <button type="button" class="btn btn-outline-primary"><i class="fa-brands fa-google"></i>Log In with Google</button>
            <button type="button" class="btn btn-outline-secondary"><i class="fa-solid fa-at"></i>Log In with Email</button>
            <button type="button" class="btn btn-outline-success"><i class="fa-solid fa-at"></i>Sign Up with Email</button>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>