{% extends 'blog/base.html' %}

{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <div id="post-area">
                <article>         
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">{{ post.title }}</h1>
                            <h5 class="text-muted">{{ post.hook_text}}</h5>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">{{ post.created_at }}</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">작성자 쓸 위치(개발예정)</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        {% if post.head_image %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" /></figure>
                        {% else %}
                            <img class="img-fluid rounded" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image">
                        {% endif %}
                        <!-- Post content-->
                    <div id="comment-area">     
                        <section class="mb-5">
                            <!-- <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                            <p class="fs-5 mb-4">The universe is large and old, and the ingredients for life as we know it are everywhere, so there's no reason to think that Earth would be unique in that regard. Whether of not the life became intelligent is a different question, and we'll see if we find that.</p>
                            <p class="fs-5 mb-4">If you get asteroids about a kilometer in size, those are large enough and carry enough energy into our system to disrupt transportation, communication, the food chains, and that can be a really bad day on Earth.</p>
                            <h2 class="fw-bolder mb-4 mt-5">I have odd cosmic thoughts every day</h2>
                            <p class="fs-5 mb-4">For me, the most fascinating interface is Twitter. I have odd cosmic thoughts every day and I realized I could hold them to myself or share them with people who might be interested.</p>
                            <p class="fs-5 mb-4">Venus has a runaway greenhouse effect. I kind of want to know what happened there because we're twirling knobs here on Earth without knowing the consequences of it. Mars once had running water. It's bone dry today. Something bad happened there as well.</p> -->
                            <p class="fs-5 mb-4">{{ post.content }}</p>
                        {% if post.file_upload %}
                        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button">
                            Download:
                            {% if post.get_file_ext == 'csv' %}
                                <i class="fas fa-file-csv"></i>
                            {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                                <i class="fas fa-file-excel"></i>
                            {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                                <i class="fas fa-file-word"></i>
                            {% else %}
                                <i class="fas fa-file"></i>
                            {% endif %}
                            {{ post.get_file_name }}
                        </a>
                        {% endif %}
                        </section>
                    </div>
                </article>
</div>

